* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 100vh;
  background-color: rgb(44, 60, 75, 0.9);
  color: #ffff;
  gap: 22px;
}

.logo {
  width: 250px;
  height: 250px;
  position: relative;
  top: -10px;
}

.logo-name {
  font-size: 48px;
  font-family: 'Flavors', cursive;
  letter-spacing: 5px;
}

input {
  width: 283px;
  height: 44px;
  border-radius: 10px;
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.input-title {
  padding-left: 10px;
  font-size: 15px;
}

.check-box {
  width: 15px;
  height: 15px;
  background-color: #ffff;
}
.username-container {
  padding-bottom: 10px;
}
.container {
  display: flex;
  gap: 50px;
  font-size: 17px;
}
.remember-container {
  display: flex;
  align-items: center;
  gap: 2px;
}
.remember-me {
  padding-left: 5px;
}

.login {
  width: 155px;
  height: 40px;
  font-size: 18px;
  border-radius: 50px;
  border: none;
  background-color: rgb(162, 73, 33, 66%);
  font-weight: bolder;
  color: #ffff;
  cursor: pointer;
}
.login:hover {
  transform: scale(1.1);
  box-shadow: 10px 5px 5px rgb(44, 60, 75, 0.6);
  background-color: rgb(162, 73, 33, 46%);
}
.login:active {
  background-color: rgb(162, 73, 33, 54%);
}
.create-one {
  color: #ffff;
  font-weight: 900;
  cursor: pointer;
}

.sign-in-with-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.icon-container {
  display: flex;
  gap: 30px;
  padding-top: 20px;
}
.icon {
  width: 120px;
  height: 40px;
  background-color: #ffff;
  font-size: 15px;
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.sign-in-with:before {
  content: '';
  height: 1px;
  width: 130px;
  background-color: #ffff;
  position: absolute;
  top: 10px;
  left: 0;
}
.sign-in-with:after {
  content: '';
  height: 1px;
  width: 130px;
  background-color: #ffff;
  position: absolute;
  top: 10px;
  right: 0;
}

svg {
  width: 20px;
  height: 20px;
  margin-top: -2px;
}

html {
	box-sizing: border-box;
	background-color: rgb(44, 60, 75);
}

body {
	max-width: 1450px;
	margin: 0 auto;
	color: aliceblue;
	font-family: 'Roboto', sans-serif;
}

a,
a:hover {
	text-decoration: none;
	color: white;
}

.header {
	width: 100%;
	height: 600px;
	background-image: url(./img/kitchen.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	margin-bottom: 100px;
}

.nav {
	background-color: rgb(0, 0, 0, 0.4);
	max-width: 100%;
	height: 30px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#search {
	width: 300px;
	height: 40px;
	padding: 5px;
	border-radius: 10px 0px 0px 10px;
	border: none;
}

#search:focus {
	outline: none;
}

.btn-search {
	height: 40px;
	width: 30px;
	margin-left: -10px;
	border: none;
}

.user {
	/* background-color: white; */
	height: 40px;
	width: 40px;
	border-radius: 100%;
	background-image: url(./img/chef.jpg);
	background-size: cover;
}

.bar-bottom {
	width: 100%;
	height: 30px;
	background-color: #323232;
	position: absolute;
	bottom: 0;
	right: 0;
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	/* width: 1450px; */
}

.food {
	display: flex;
	justify-content: space-between;
	width: 950px;
	margin-bottom: 80px;
	/* transition: 0.3s; */
}
.image {
	width: 450px;
	height: 300px;
	background-size: cover;
	background-position: center;
	box-shadow: 5px 10px 20px black;
	transition: 0.3s;
	border-radius: 10px;
}

.image:hover {
	transform: scale(1.01);
	box-shadow: 5px 10px 40px black;
}

.image:active {
	transform: scale(0.99);
	box-shadow: 2px 7px 12px black;
}

.image-1 {
	background-image: url(./img/chicken.jpg);
}
.image-2 {
	background-image: url(./img/lamb.jpg);
}
.image-3 {
	background-image: url(./img/rice.jpg);
}

.description {
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 1.1px;
	margin-bottom: 5px;
}

hr {
	width: 100%;
	height: 1px;
	border: none;
	background-image: linear-gradient(to left, transparent, #a24821, transparent);
	margin-bottom: 30px;
}

.icons {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	font-size: 12px;
	letter-spacing: 0.8px;

}
